@import "/src/assets/colors/colors.scss";
.button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: none;
  cursor: pointer;
}

.green_background {
  background-color: $green;
  border-radius: 5px;
}

.green_background_dark {
  background-color: $green;
  border-radius: 5px;
  opacity: 0.8;
  pointer-events: none;
}

.green_border {
  border: 2px solid $green;
  background: none;
  border-radius: 5px;
}

.red_border {
  border: 2px solid $red;
  background: none;
  border-radius: 5px;
}

.white_border {
  border: 2px solid $white;
  background: none;
  border-radius: 5px;
}

.image {
  width: 88%;
  height: 100%;
}
