@import "/src//assets/colors/colors.scss";

.control_add_booking {
  margin: 16px 26px 105px 26px;

  .control_top_content {
    width: 100%;

    &_input {
      padding: 20px !important;
      @extend .base_input_class;
    }
  }

  .control_bottom_content {
    margin-top: 40px;

    .control_time {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_houre {
        display: flex;
        flex-direction: row;
        width: 170px;

        &_space {
          margin: 8% 2.5% 0 2.5%;
        }
      }

      &_min {
        display: flex;
        align-items: flex-end;

        &_container {
          display: flex;
          flex-direction: column;
          width: 170px;

          &_bottom {
            display: flex;
            flex-direction: row;

            &_text {
              display: flex;
              align-items: center;
              margin: 0 0 0 10px;
            }
          }
        }
      }

      &_input {
        @extend .base_input_class;
        cursor: pointer;
      }
    }
  }
  .base_input_class {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    color: $white;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid $white50;
    background-color: $white05;

    option {
      background-color: $basic_color;
    }
  }
}
