@import "/src/assets/colors/colors.scss";
.engaged_container {
  background: linear-gradient($gradient_top_red, $gradient_bottom_red);
  height: 280px;
  margin: 0 0 0 20px;
  padding: 30px 20px 20px 50px;
  .title {
  }
  .status {
    margin-top: 12px;
  }
  .ramin {
    margin-top: 20px;
  }
  .time {
    margin-top: 12px;
  }
  .button_panel {
    display: flex;
    justify-content: flex-end;
    margin-top: 42px;
    .button_change {
      margin-right: 15px;
      width: 225px;
      height: 64px;
    }
    .button_delete {
      width: 75;
      height: 64px;
    }
  }
}

.info_bar {
  display: flex;
  justify-content: center;
  margin: 0 0 0 20px;
  height: 330px;
  background: linear-gradient($gradient_top_green, $gradient_bottom_green);
}
.info_bar_booking {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
  height: 330px;
  background: $time_pade;

  .info_booking {
    margin: 30px 0 0 50px;
  }
  .info_card_booking_bottom {
    margin: 20px 0 0 0;
  }
  .info_buttons_panel {
    // width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 26px 0 0 0;
    .right_after {
      width: 225px;
      height: 64px;
    }
    .delete {
      width: 75px;
      height: 64px;
      margin: 0 20px 0 30px;
    }
  }
}

.info_card {
  &_top {
    margin: 30px 0 0 0;
  }

  &_bottom {
    margin: 45px 0 0 0;
  }
}
