@import "/src/assets/colors/colors.scss";

.time_pade {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .left_bar {
    width: 103px;
    margin-top: 10px;

    .last_line {
      color: $white;
    }

    .left_block {
      height: 100px;
      width: 103px;
      position: relative;

      .base_line_class {
        height: 1px;
        background: $white;
        position: absolute;
        right: 10px;
        color: $white;
      }

      .line {
        &_1 {
          @extend .base_line_class;
          width: 30px;
          top: 0px;
        }

        &_2 {
          @extend .base_line_class;
          width: 10px;
          top: 17px;
        }

        &_3 {
          @extend .base_line_class;
          width: 10px;
          top: 33px;
        }

        &_4 {
          @extend .base_line_class;
          width: 20px;
          top: 50px;
        }

        &_5 {
          @extend .base_line_class;
          width: 10px;
          top: 67px;
        }

        &_6 {
          @extend .base_line_class;
          width: 10px;
          top: 83px;
        }

        &_7 {
          @extend .base_line_class;
          width: 30px;
          top: 99px;
        }

        &_time {
          margin: -14px -58px;
        }
      }
    }
  }
  .right_bar {
    margin-top: 10px;
    width: 100%;
    position: relative;
    height: 2400px;
    .activeBooking {
      position: absolute;
      left: 2%;
      right: 2%;
      width: 96%;
      background-color: $white40;
      opacity: 0.4;
      border-radius: 7px;
      color: $white;

      div {
        margin: -4px 0 0 6px;
      }
    }
    .past_time {
      width: 100%;
      position: absolute;

      &_line {
        background: #ff4853;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -3px;
      }
    }

    .bottom_right_line {
      width: 100%;
      height: 1px;
    }

    .fake_right_block {
      background-color: $time_pade;
      height: 10px;
      width: 100%;
    }

    .right_block {
      background-color: $time_pade;
      height: 49px;
      width: 100%;
      cursor: pointer;
      border-top: 1px solid #0a1626;

      .target_block {
        height: 33.33%;
      }

      .not_target_block {
        height: 33.33%;
        cursor: auto;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $modal_border;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background-color: $light_basic_color;
  }
}
