@import "/src/assets/colors/colors.scss";

.booking_time {
  position: absolute;
  left: 2%;
  right: 2%;
  width: 96%;
  background-color: $green;
  opacity: 0.4;
  border-radius: 7px;
  cursor: pointer;

  div {
    margin: -4px 0 0 6px;
  }
}
