@import "/src/assets/colors/colors.scss";

.info_container {
  width: 50%;
  height: 100%;

  .control_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 67px 0 0 0;

    .add_button {
      width: 360px;
      height: 85px;
    }
  }
}
