@import "/src/assets/colors/colors.scss";

.past_tense {
  position: absolute;
  width: 122%;
  height: 100%;
  top: -10px;
  padding: 10px 0 0 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(12, 23, 37, 0.8),
    rgba(12, 23, 37, 0.5)
  );
}
