$white: #ffffff;
$white50: #ffffff80;
$white40: #ffffff66;
$white05: #ffffff0d;
$black: black;
$basic_color: #0a1626;
$small_light_basic_color: #142133;
$light_basic_color: #283547;
$around_modal: #0a172980;
$past_time: #121212;
$time_pade: #1e2b3d;
$green: #4ba03a;
$gradient_top_green: #88d05c;
$gradient_bottom_green: #197728;
$booking_time: #4ba13a;
$red: #ff4853;
$time_line: #ff2157;
$gradient_top_red: #f1604d;
$gradient_bottom_red: #c73a4b;
$modal_border: #364d6c;
$blue: #00d1ff;
