@import "/src/assets/colors/colors.scss";

.base_class {
  font-family: "IBM Plex Sans";
  font-weight: 300;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.white50 {
  color: $white50;
}

.red {
  color: $red;
}

.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 30px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.h7 {
  font-size: 12px;
}

.p {
  font-size: 24px;
}
