@import "/src/assets/colors/colors.scss";

.modal_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $around_modal;
  z-index: 999;

  .booking {
    padding: 32px;
    background-color: $time_pade;
    border: 2px solid $modal_border;
    margin: 20% auto;
    width: 420px;
    height: 196px;

    .control_bar {
      display: flex;
      justify-content: center;
      margin-top: 13px;

      &_container {
        width: 365px;
      }
    }
  }
}
