@import "/src/assets/colors/colors.scss";

.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $small_light_basic_color;
    width: 103px;
    img {
      width: 42px;
    }
  }
  &_panel {
    &_office {
      @extend .header_panel_base_class;
      position: relative;
      width: 424px;
      cursor: pointer;
      padding: 0 20px 0 20px;
    }
    &_room {
      @extend .header_panel_base_class;
      position: relative;
      width: 424px;
      cursor: pointer;
      padding: 0 20px 0 20px;
    }
    &_date {
      @extend .header_panel_base_class;
      justify-content: center;
      width: 424px;
      padding: 0 20px 0 20px;
      time {
        font-size: 24px;
      }
    }
    &_calendar {
      @extend .header_panel_base_class;
      justify-content: center;
      width: 62px;
      img {
        width: 25px;
      }
    }
    &_base_class {
      background-color: $light_basic_color;
      color: $white;
      margin: 0 0 0 1px;
      display: flex;
      align-items: center;
    }
  }
}
