.time_plus {
  margin: 40px 0 0 0;

  &_text {
    margin: 0 0 0 44px;
  }

  &_buttons {
    display: flex;
    flex-direction: row;

    margin: 8px 0 36px 0;

    &_left {
      margin: 0 31px 0 44px;
      width: 302px;
      height: 74px;
    }

    &_right {
      margin: 0 44px 0 31px;
      width: 302px;
      height: 74px;
    }
  }
}
