@import "/src//assets/colors/colors.scss";
.invisible_office_text1 {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  width: 100%;
  background-color: $light_basic_color;
  color: $white;
  margin: 0 0 0 1px;
  height: 60px;
  top: 61px;
  left: 0px;
  div {
    padding: 0 20px 0 20px;
  }
}
.visible_office_text {
  width: 100%;
}
